<h3>justify-content: flex-start(default) | flex-end | center | space-between | space-around | baseline</h3>
alignment on main axis. left -> right

<br/>
<h3>flex-start</h3>
<div class="flex-start flex">
  <p>display: flex;<br/>justify-content: flex-start;</p>
</div>

<br/>
<h3>flex-end</h3>
<div class="flex-end flex">
  <p>display: flex;<br/>justify-content: flex-end;</p>
</div>

<br/>
<h3>center</h3>
<div class="center flex">
  <p>display: flex;<br/>justify-content: center;</p>
</div>

<br/>
<h3>space-between</h3>
<div class="space-between flex">
  <p>display: flex;<br/>justify-content: space-between;</p>
  <p>display: flex;<br/>justify-content: space-between;</p>
  <p>display: flex;<br/>justify-content: space-between;</p>
</div>

<br/>
<h3>space-around</h3>
<div class="space-around flex">
  <p>display: flex;<br/>justify-content: space-around;</p>
  <p>display: flex;<br/>justify-content: space-around;</p>
  <p>display: flex;<br/>justify-content: space-around;</p>
</div>

<br/>
<h3>baseline</h3>
<div class="baseline flex">
  <p>display: flex;<br/>justify-content: baseline;</p>
</div>
