<h3>align-items: flex-start | flex-end | center | baseline | stretch </h3>
alignment on cross axis. top -> buttom
<br>
<br>

display: flex;<br/>align-items: center
<div class="center flex container">
  <p class="font-size-16">1<br>1<br>1<br>1<br>1111111111</p>
  <p class="font-size-25"><br><br>22<br>22<br>222<br>22<br>222222</p>
  <p>333333333333333</p>
</div>
<br>

display: flex;<br/>align-items: baseline
<div class="baseline flex container">
  <p class="font-size-16">1<br>1<br>1<br>1<br>1111111111</p>
  <p class="font-size-25">22<br>22<br>22222<br>222222</p>
  <p>333333333333333</p>
</div>
<br>

display: flex;<br/>align-items: flex-end
<div class="flex-end flex container">
  <p>1</p>
  <p>2</p>
  <p>3</p>
</div>
<br>

display: flex;<br/>align-items: stretch
<div class="stretch flex container">
  <p>1</p>
  <p>2</p>
  <p>3</p>
</div>
