.flex-shrink-1 {
  flex-shrink: 1;
  font-size: 40px;
}

.flex-shrink-0 {
  flex-shrink: 0;
  font-size: 80px;
}

.flex {
  display: flex;
  width: 200px;
}

p {
  border-style: solid;
  border-width: 1px;
}
