.flex-flow {
  flex-flow: column wrap;
}

.flex {
  display: flex;
}

.container {
  width: 170px;
  border-width: 1px;
  border-style: solid;
}

p {
  border-width: 1px;
  border-style: solid;
}
