<h3>flex-grow: &lt;integer&gt;(0, 1, ...)</h3>
item zoom out main size or cross size
<br>
<br>
display: flex;<br>flex-grow: 1;
<div class="flex">
  <p class="flex-grow-1">1</p>
  <p class="flex-grow-1">2</p>
  <p class="flex-grow-1">3</p>
</div>
<br>

<div class="flex">
  <div class="flex-grow-1">display: flex;<br>flex-grow: 1;</div>
  <div class="flex-grow-2">display: flex;<br>flex-grow: 2;</div>
  <div class="flex-grow-1">display: flex;<br>flex-grow: 1;</div>
</div>

<div class="flex">
  <p class="flex-grow-1">1</p>
  <p class="flex-grow-2">2</p>
  <p class="flex-grow-1">3</p>
</div>
