.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

p {
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
